:root {
  --haunter-background-light-color: #c0b0cd;
  --haunter-background-normal-color: #a0879d;
  --haunter-background-dark-color: #71616e;
  --haunter-border-color: #433640;
  --haunter-eye-shadow-color: #c4bcc0;
  --haunter-pupil-color: #222;
  --haunter-mouth-light-color: #b5809a;
  --haunter-mouth-dark-color: #855a6d;
  --haunter-body-gradient:
    linear-gradient(
      to bottom,
      var(--haunter-background-light-color) 49%,
      var(--haunter-background-dark-color) 49%
    );
  --custom-border:
    drop-shadow(3px 0 0 var(--haunter-border-color))
    drop-shadow(-3px 0 0 var(--haunter-border-color))
    drop-shadow(0 3px 0 var(--haunter-border-color))
    drop-shadow(0 -3px 0 var(--haunter-border-color));
  --haunter-shape:
    polygon(
      3% 8%,
      40% 20%,
      44% 18%,
      55% 18%,
      60% 21%,
      97% 8%,
      77% 35%,
      100% 32%,
      79% 50%,
      91% 50%,
      66% 69%,
      64% 76%,
      68% 85%,
      61% 82%,
      74% 96%,
      56% 90%,
      46% 76%,
      47% 85%,
      9% 49%,
      22% 51%,
      1% 31%,
      22% 35%
    );
  --haunter-inner-shape: polygon(18% 17%, 41% 26%, 46% 22%, 55% 22%, 59% 26%, 82% 19%, 72% 39%, 98% 35%, 80% 50%, 87% 51%, 62% 67%, 60% 78%, 54% 75%, 55% 83%, 43% 71%, 44% 75%, 14% 51%, 22% 51%, 3% 33%, 29% 39%);
  --haunter-eye-shape: polygon(0 0, 100% 85%, 70% 100%, 20% 85%);
  --haunter-mouth-shape: polygon(0% 0%, 18% 6%, 19% 19%, 26% 9%, 37% 12%, 41% 20%, 45% 12%, 55% 12%, 59% 20%, 63% 12%, 74% 9%, 81% 19%, 82% 7%, 99% 0%, 88% 25%, 65% 36%, 62% 27%, 58% 36%, 53% 27%, 50% 36%, 46% 27%, 42% 37%, 38% 27%, 35% 36%, 11% 25%);
  --haunter-nail-shape: polygon(0 30%, 30% 0, 60% 0, 100% 30%, 50% 100%);
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.haunter-container {
  & .haunter {
    width: 300px;
    height: 300px;
    filter: var(--custom-border);

    & .body {
      width: 100%;
      height: 100%;
      background-image: var(--haunter-body-gradient);
      clip-path: var(--haunter-shape);
      animation: haunterFly 2.25s infinite alternate ease-in-out;

      & .inner-shadow {
        width: 100%;
        height: 100%;
        background: var(--haunter-background-normal-color);
        clip-path: var(--haunter-inner-shape);
        transform: scale(1.02);
      }

      & .face-container {
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        & .face {
          width: 45%;
          height: 45%;

          & .eyes-container {
            display: flex;
            justify-content: space-between;
            filter: var(--custom-border);

            & .eye {
              width: 55px;
              height: 50px;
              background: var(--haunter-eye-shadow-color);
              clip-path: var(--haunter-eye-shape);

              &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: white;
                transform: translate(2px, -4px);
                clip-path: var(--haunter-eye-shape);
              }

              &::after {
                position: absolute;
                content: "";
                display: block;
                width: 7px;
                height: 12px;
                background: var(--haunter-border-color);

                /* transform: translate(32px, -25px); */
                animation: eyeMove 4s ease-in-out infinite alternate;
              }

              &.right {
                transform: scale(-1, 1);
              }
            }
          }

          & .mouth-container {
            width: 100%;
            height: 100%;
            filter: var(--custom-border);
            position: relative;
            z-index: 3;

            & .mouth {
              width: 100%;
              height: 100%;
              background: var(--haunter-mouth-dark-color);
              transform: translate(0, 5px);
              clip-path: var(--haunter-mouth-shape);

              &::before {
                content: "";
                display: block;
                background: var(--haunter-mouth-light-color);
                width: 100%;
                height: 25%;
                clip-path: polygon(0 0, 100% 0, 85% 90%, 50% 100%, 15% 90%);
              }
            }
          }

          & .mouth-shadow {
            position: absolute;
            width: 45%;
            height: 50%;
            background: var(--haunter-background-dark-color);
            clip-path: var(--haunter-mouth-shape);
            transform: translate(0, -120px);
            z-index: 0;
          }
        }
      }
    }
  }

  & .claw {
    position: absolute;
    width: 120px;
    height: 80px;
    animation: haunterLeftClawsFly 2s infinite alternate ease-in-out;

    &.right {
      animation: haunterRightClawsFly 2s infinite alternate ease-in-out;
    }

    & .nails {
      width: 85%;
      height: 75%;
      display: flex;
      filter: var(--custom-border);

      & .nail {
        width: 25%;
        height: 75%;
        background-image: var(--haunter-body-gradient);
        clip-path: var(--haunter-nail-shape);

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: var(--haunter-background-normal-color);
          transform: translate(0, -3px) scale(1.3, 0.7);
          clip-path: var(--haunter-nail-shape);
        }

        &.nail-1 {
          transform: translate(0, 25px) rotate(-15deg);
        }

        &.nail-2 {
          transform: translate(0, 0);
        }

        &.nail-3 {
          transform: translate(0, 25px) rotate(15deg);
        }
      }
    }

    & .hand-container {
      position: absolute;
      z-index: -1;
      width: 85%;
      height: 50px;
      filter: var(--custom-border);

      & .hand {
        width: 100%;
        height: 100%;
        background: var(--haunter-background-normal-color);
        transform: translate(-10px, -50px);
        clip-path: polygon(15% 33%, 50% -10%, 85% 37%, 81% 79%, 58% 52%, 25% 75%, 15% 75%);
      }
    }

    & .palm-container {
      position: absolute;
      z-index: -2;
      width: 85%;
      height: 50px;
      filter: var(--custom-border);
      display: flex;
      justify-content: center;

      & .palm {
        width: 50%;
        height: 100%;
        background: var(--haunter-background-dark-color);
        transform: translate(-10px, -50px);
        clip-path: polygon(50% 50%, 100% 100%, 45% 100%, 0 50%);
      }
    }
  }
}

@keyframes eyeMove {
  0% {
    transform: translate(32px, -20px) scale(1);
  }

  100% {
    transform: translate(32px, -15px) scale(1.25);
  }
}

@keyframes haunterFly {
  0% {
    transform: translate(0, -5%);
  }

  100% {
    transform: translate(0, 5%);
  }
}

@keyframes haunterLeftClawsFly {
  0% {
    transform: translate(0, -190%) rotate(-20deg);
  }

  100% {
    transform: translate(0, -140%) rotate(-20deg);
  }
}

@keyframes haunterRightClawsFly {
  0% {
    transform: translate(160%, -190%) rotate(20deg) scale(-1, 1);
  }

  100% {
    transform: translate(160%, -140%) rotate(20deg) scale(-1, 1);
  }
}
